li.h2{
    font-size: 1.9vmin;
    font-weight: bold;
    list-style-type: none;
    margin-top: 3vmin;
}

ul {
    margin-bottom: 1vmin;
    list-style-type: none;
    width: 60vmin;
}

li {
    margin-bottom: 1vmin;
}

/* ul.StudentList {
    width: 60vmin;
    list-style-type: none;
} */